body{
    margin: 0;
    padding: 0;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-image: url('./assets/images/backgrounds/bullseye-in-fortnite-season-6-4k-9w-1920x1080.jpg');
    user-select: none;
}

#dailynewsbrdiv{
    padding-top: 5%;
    min-height: 150%;
    display: inline-block;
    width: 100%;
}

#dailynewscreativediv{
margin-top: 15%;
}

#dailynewsbrdiv{
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    
}

#dailynewscreativediv{
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    min-height: 150%;
    display: inline-block;
    width: 100%;
}

#dailynewsstwdiv{
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    min-height: 150%;
    display: inline-block;
    width: 100%;
}



.dailynewscard{
    margin-top: 5%;
    border-radius: 10px;
    border: 2px solid rgba(255, 255, 255);
    box-shadow: 5px 5px 8px lightblue;
    width: 750px;
    height: 520px;
    margin-left: 6%;
    float: left;
    background-image: url('https://gewoonjaap.github.io/FortniteCreativeMaps/assets/images/llama.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    transition: all 1.2s ease-in;
    text-align: center;
    margin-bottom: 5%;
    
}

.newstexthead{
    font-family: BurbankBigCondensed-Bold;
    color: white;
    font-size: 30px;
    text-shadow: 2px 2px 4px #000000;
}
.newstextnormal{
    font-family: BurbankBigCondensed-Bold;
    color: white;
    font-size: 24px;
    text-shadow: 2px 2px 4px #000000;
}

.dailynewsimg{
    height: 340px;
    width: 640px;
    transition: all 1.2s ease-in-out;
    border-radius: 5px;
}

.dailynewsimg2{
    background-image: url('https://i.imgur.com/Y5zG868.png');
    background-size: 640px;
    background-repeat: no-repeat;
    background-position: center;
}


.title{
    font-family: BurbankBigCondensed-Bold;
    text-align: center;
    padding-top: 10px;
    color: white;
    font-size: 90px;
    text-shadow: 4px 4px 6px #000000;
    margin-bottom: 0;
}

footer {
    clear: both;
    position: relative;
    height: 150px;
    margin-top: -40px;
    background-color: darkslategray;
    text-align: left;
    width: 100%;

}

#footer{
    color: #e0e0e0;
    font-size: 20px;
    text-align: center;
    text-shadow: 2px 2px 4px #000000;
}
.footer{
    color: #e0e0e0;
    font-size: 20px;
    text-align: center;
    text-shadow: 2px 2px 4px #000000;
}

a{
    text-decoration: none;
    color: white;
}


@font-face {
    font-family: BurbankBigCondensed-Bold;
    src: url('https://gewoonjaap.github.io/FortniteCreativeMaps/assets/fonts/BurbankBigCondensed-Bold.otf');
}

div {
    font-family: BurbankBigCondensed-Bold;
}